/*  Global  */
.letter-spacing-none {
  letter-spacing: 0;
}

/*  Drawer nav  */
.q-drawer {
  .q-item {
    opacity: 0.6;
    &.q-router-link--exact-active {
      opacity: 1;
    }
  }
}

/*  Number inputs   */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin-left: 10px;
}

/*	QPopupEdit component buttons	*/
.q-popup-edit__buttons {
	.q-btn {
		text-transform: none;
	}
}

/*	Entries	*/
.entries {
	.q-slide-item {
		border: 1px solid rgba(0, 0, 0, 0.12);
		&:not(:first-child) { // So this is going to select all of our q-slide-items within this entries element except the first child.
			margin-top: -1px;
		}
	}
	.sortable-ghost {
		opacity: 0;
	}
}
